<!--Variables are enclosed in {{}}-->
<h1>{{var}}</h1>

<!--Flow control and loops are in {%%}-->
{% if var2 %}
<h2>{{var2}}</h2>
{% endif %}
<ul>
  {% for item in listVar %}
  <!--Support for Python objects-->
  <li><p>{{item.name}}</p></li>
  {% endfor %}
</ul>
