<!DOCTYPE html>
<html>
  <head>
    <!-- JS and CSS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href={{url_for("static", filename="stylesheets/stylesheet.css")}}>
    <!-- Latest compiled and minified JavaScript for Bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified CSS for Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!--<title>{{title | default("Christopher Pitts")}}</title>-->
    <title>Hello, World!</title>
    {{moment.include_moment()}}
  </head>
  <body>
    <div class="container content">
      {% block content %}
      {% endblock %}
    </div>
    <footer class="footer">
      <div class="container">
	<p class="text-muted">&copy; We Made This, {{moment().format("YYYY")}}</p>
      </div>
    </footer>
  </body>
</html>
